<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>管理者ログイン</title>
		<link href="{{constant('kintore\\contents\\Bootstrap::APP_URL')}}kintore/css/admin.css" rel="stylesheet" type="text/css"/>
		<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
	</head>
	<body>
		{{ include('header3.twig') }}
		<div class="content">
			{% if error %}
				<p style="color:red;">{{ error }}</p>
			{% endif %}
			<div class="form-container">
				<h2>管理者ログイン</h2>
				<form method="post" action="">
					<label for="email">メールアドレス</label><br>
					<input type="email" id="email" name="email" required><br><br>
					<label for="password">パスワード</label><br>
					<input type="password" id="password" name="password" required><br><br>
					<button type="submit" class="button">ログイン</button>
				</form>
			</div>
		</div>
		{{ include('footer.twig') }}
		 <script src="{{constant('kintore\\contents\\Bootstrap::APP_URL')}}kintore/js/admin_login.js"></script>
	</body>
</html>
