<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap">
		<link rel="stylesheet" href="{{ constant('kintore\\contents\\Bootstrap::APP_URL') }}kintore/css/kintore.css" type="text/css"/>
		<link rel="stylesheet" href="{{ constant('kintore\\contents\\Bootstrap::APP_URL') }}kintore/css/list.css" type="text/css"/>
		<link
		rel="stylesheet" href="{{ constant('kintore\\contents\\Bootstrap::APP_URL') }}kintore/css/detail.css" type="text/css"/>
	 <script src="{{ constant('kintore\\contents\\Bootstrap::APP_URL') }}kintore/js/main.js"></script>
	</head>
	<body>
		<input type="hidden" name="entry_url" value="{{ constant('kintore\\contents\\Bootstrap::ENTRY_URL') }}" id="entry_url">
		<div id="wrapper">
			{{ include('header2.twig') }}
			<div class="side">
				<p>部位</p>
				{% include 'body_part.twig' %}
				<div id="new_exercise">
					<h3>種目を追加</h3>
					<form method="POST" action="{{constant('kintore\\contents\\Bootstrap::ENTRY_URL')}}add_exercise.php">
						<label for="excs_name">種目名:</label>
						<input type="text" id="excs_name" name="excs_name" required>
						<label for="date">日付:</label>
						<input type="date" id="date" name="date" required>
						<label for="weight">重さ (kg):</label>
						<input type="text" id="weight" name="weight" required>
						<label for="reps">回数:</label>
						<input type="text" id="reps" name="reps" required>
						<label for="sets">セット数:</label>
						<input type="text" id="sets" name="sets" required>
						<label for="duration">所要時間 (分):</label>
						<input type="text" id="duration" name="duration" required>
						<label for="bdp_id">部位:</label>
						<select id="bdp_id" name="bdp_id" required>
							{% for part in bodyArr %}
								<option value="{{ part.bdp_id }}">{{ part.body_part }}</option>
							{% endfor %}
						</select><br>
						<button type="submit">追加</button>
					</form>
				</div>
			</div>
			<div id="exercise_detail">
				<div class="detail">
					<dl>
						<dd>{{ exerciseData.excs_name }}</dd>
					</dl>
				</div>
				<div class="performance_in">
					<form id="training_record_form" method="post" action="{{ constant('kintore\\contents\\Bootstrap::ENTRY_URL') }}performance.php">
						<input type="hidden" name="excs_id" id="excs_id" value="{{ exerciseData.id }}">
						<label for="date">日付:</label>
						<input type="date" id="date" name="date" required><br>
						<label for="weight">重さ (kg):</label>
						<input type="text" id="weight" name="weight" required><br>
						<label for="reps">回数:</label>
						<input type="text" id="reps" name="reps" required><br>
						<label for="sets">セット数:</label>
						<input type="text" id="sets" name="sets" required><br>
						<label for="duration">所要時間 (分):</label>
						<input type="text" id="duration" name="duration" required><br><br>
						<input class="list" type="button" name="back" value="一覧へ戻る" onclick="window.location.href='{{ constant('kintore\\contents\\Bootstrap::ENTRY_URL') }}list.php'; return false;"/>
						<input class="record" type="submit" name="performance_in" value="トレーニングを記録する"/>
					</form>
				</div>
			</div>
		</div>
		{{ include('footer.twig') }}
	</body>
</html>
